<!DOCTYPE html>
<html>
<head>
    <title>Polarweb</title>
{% assets "bootstrap" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Polargraph.
				</h1>
                <button type="button" class="btn btn-lg btn-primary">Run</button>
                <button type="button" class="btn btn-lg btn-primary disabled">Pause</button>
			</div>
            <div>
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert {{category}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </div>
			<div class="row clearfix">
            {% for machine_name in machines['machine_names'] %}
				<div class="col-md-6 column" id="machine_panel_{{machine_name}}">
					<h2 title="{{machines[machine_name].state()}}">Machine: {{ machine_name }}</h2>
                    <h3>Rescue:</h3>
                    <button type="button" class="btn btn-lg btn-primary">Calibrate</button>
                    <button type="button" class="btn btn-lg btn-primary">Cancel page</button>
                    <button type="button" class="btn btn-lg btn-primary">Cancel drawing</button>
                    <h3>Progress:</h3>
                    <button type="button" class="btn btn-lg btn-primary">Run</button>
                    <button type="button" class="btn btn-lg btn-primary">Pause</button>
                    <h3>Layout:</h3>
					<div class="btn-group btn-group-lg" data-toggle="buttons">
						 <button class="btn btn-primary" type="button">1 off</button>
                         <button class="btn btn-primary" type="button">4 off</button>
						 <button class="btn btn-primary" type="button">8 off</button>

					</div>
                    <h3>Acquire:</h3>
                    <div class="form-group">
                        <div class="checkbox">
                             <label><input type="checkbox" checked />Acquire new image automatically</label>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary disabled">Take picture now</button>
                    </div>
                    <h3>Status:</h3>
                    <a href="{{url_for('queue', machine_name='left')}}">Queue</a>
                    <p>{{machines[machine_name].state()}}</p>
                        <ol style="max-height: 300px; overflow-y:scroll">
                        {% for val in machines[machine_name].queue %}
                            <li>{{ val }}</li>
                        {% endfor %}
                        </ol>
                    <p>Queue size: {{machines[machine_name].queue|length}}</p>

                    <h4>Incoming queue</h4>
                        <ol style="max-height: 100px; overflow-y:scroll">
                        {% for val in machines[machine_name].received_log %}
                            <li>{{ val }}</li>
                        {% endfor %}
                        </ol>
                    <p>Received log size: {{machines[machine_name].received_log|length}}</p>

                    <p>Connected: {{machines[machine_name].connected}}</p>
				</div>
            {% endfor %}
			</div>
		</div>
	</div>
</div>

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>