<!DOCTYPE html>
<html>
<head>
    <title>Polarweb</title>
{% assets "bootstrap" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Polargraph.
				</h1>
			</div>
            <div>
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert {{category}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </div>
			<div class="row clearfix">
            {% for machine_name in machines['machine_names'] %}
				<div class="col-md-6 column" id="machine_panel_{{machine_name}}">
					<h2 title="{{machines[machine_name].state()}}">Machine: {{ machine_name }}</h2>
                    <h3>Rescue:</h3>
                    <button type="button" class="btn btn-lg btn-primary" onclick="$.post('api/m/{{machine_name}}/calibrate', function(data){
                        console.log(data);
                        $('#connected-{{machine_name}}').html(data);
                        }, 'json');">
                        Calibrate
                    </button>
                    <button type="button" class="btn btn-lg btn-primary" onclick="$.post('api/m/{{machine_name}}/drawing/cancel_page', function(data){
                        console.log(data);
                        $('#connected-{{machine_name}}').html(data);
                        }, 'json');">
                        Cancel page
                    </button>
                    <button type="button" class="btn btn-lg btn-primary" onclick="$.post('api/m/{{machine_name}}/drawing/cancel_panel', function(data){
                        console.log(data);
                        $('#connected-{{machine_name}}').html(data);
                        }, 'json');">
                        Cancel drawing
                    </button>
                    <h3>Progress:</h3>
                    <button type="button" class="btn btn-lg btn-primary">Run</button>
                    <button type="button" class="btn btn-lg btn-primary">Pause</button>
                    <h3>Layout:</h3>
                    <button class="btn btn-primary" type="button">1 up</button>
                    <button class="btn btn-primary" type="button">4 up</button>
					<button class="btn btn-primary" type="button">8 up</button>
                    <h3>Acquire:</h3>
                    <div class="form-group">
                        <div class="checkbox">
                             <label><input type="checkbox" checked />Acquire new image automatically</label>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary disabled">Take picture now</button>
                    </div>
                    <h3>Status:</h3>
                    <div>
                        <h4>Command Queue:</h4>
                        <div id="queue-{{machine_name}}"></div>
                    </div>
                    <div>
                        <h4>Received Log:</h4>
                        <div id="received_log-{{machine_name}}"></div>
                    </div>
                    <script type="text/javascript" >
                        setInterval(function() { $('#queue-{{machine_name}}').load('api/m/{{machine_name}}/queue/html');}, 10000);
                        setInterval(function() { $('#received_log-{{machine_name}}').load('api/m/{{machine_name}}/incoming/html');}, 10000);
                    </script>
                    <p>Connected: <span id="connected-{{machine_name}}">{{machines[machine_name].connected}}</span></p>
                    <button type="button" class="btn btn-lg btn-primary" onclick="$.post('api/m/{{machine_name}}/connect', function(data){
                    console.log(data.connected);
                    $('#connected-{{machine_name}}').html(data);
                    }, 'json');">Reconnect</button>
				</div>
            {% endfor %}
			</div>
		</div>
	</div>
</div>



</body>
</html>