<!DOCTYPE html>
<html>
  <head>
    <title>{{machine_name}} video</title>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <style>
      * {
        padding: 0;
        margin-top: 10;
        overflow: hidden;
      }
      .center {
        display: block;
        margin: auto;
      }
    </style>
  </head>
  <body style="background-color: black;">
    <img id="run_stream" src="" class="center">
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        // Fit image
        $('#run_stream').attr('height', $(window).height()-15);

        namespace = '/run_stream';
        url = 'http://' + document.domain + ':' + location.port + namespace;
        var stream_socket = io.connect(url);
        stream_socket.timeout = 10;
        stream_socket.on('connect', function() {
            stream_socket.emit('guess', {data: 'run_stream socket is connected in javascript!'});
        });

        stream_socket.emit('feed', {data: true});
        stream_socket.on('feed_response', function(msg) {
            $("#run_stream").attr('src', 'data:image/jpg;base64,'+msg.frame);
        });

    });
</script>
  </body>
</html>